main {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 1rem;
    }
  }
  a {
    display: block;
    width: 10rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    box-shadow: 5px 5px $color-kindaGreen;
    margin: 1rem auto;
    background: $color-someshadeofBrown

  }
  a:hover{
    border-style: none;
    box-shadow: 5px 5px $color-kindaGreen;

  }
  a:visited{
    color: $color-pinkishSkinColor;

  }
}
